head
	meta(charset="UTF-8")
	meta(name="Description" content="小红")
	meta(data-vue-meta="true" name="keywords" content="小红")
	title 小红
	link(rel="shortcut icon" href="/images/picture/favicon.png")
	link(rel="bookmark" href="/images/picture/favicon.png")
	link(rel="icon" href="/images/picture/favicon.png" type="image/png")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	link(rel="apple-touch-icon" href="/images/picture/favicon.png")
	meta(name="apple-mobile-web-app-title" content="小红")
	meta(name="mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="white")
	link(rel="stylesheet" href="/styles/end.css")
