doctype html
html(lang="en")
	head
		title 文章管理
		meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
		link(rel="shortcut icon" href="/images/picture/favicon.png")
		link(rel="bookmark" href="/images/picture/favicon.png")
		link(href="/styles/style.css" rel="stylesheet")
	body
		div(id="edit-top")
			div(id="editor-top")
				div(id="editor-header")
					div(id="container-header")
						img(id="wd-logo" src=`${avatarUrl}`)
						div(id="wd-title")
							strong 文章管理
							span(class="remind-kit" style="font-size: 14px;color:#ff5545;padding-left: 15px;")
						div(style="display: flex;align-items: center;")
				div(id="manage-content")
					each item in articleList
						div(class="content-list")
							h3(style="color:#333")=item.title
							div(style="color:#999")=item.time
								span(class="remove-article" id=`${item._id}`)    ·    删除
	script(src="/scripts/jquery.min.js")
	script(src="/scripts/removeArticle.js")


			