doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="Description" content="小红线，信贷业务员社区")
		meta(data-vue-meta="true" name="keywords" content="小红线，信贷业务员聚集地，信贷行业经验分享交流！")
		title 小红线-信贷业务员聚集地
		link(rel="shortcut icon" href="/images/picture/favicon.png")
		link(rel="bookmark" href="/images/picture/favicon.png")
		link(rel="icon" href="/images/picture/favicon.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/picture/favicon.png")
		meta(name="apple-mobile-web-app-title" content="小红线")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/xiaohong.css")
	body
		div(class="xiaohong-top")
			div(class="xiaohong-top-list")
				div(class="xiaohong-img")
					img(src="/images/picture/120.png" class="xiaohong-imgs")
				div(class="xiaohong-login")
					div(class="xiaohong-login-img")
						div(id="login_container")
		script(src="/scripts/jquery.min.js")
		script(src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js")
		script(src="/scripts/home.js")