doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="Description" content="小红线，信贷业务员社区")
		meta(data-vue-meta="true" name="keywords" content="小红线，信贷业务员聚集地，信贷行业经验分享交流！")
		title 小红线-信贷业务员聚集地
		link(rel="shortcut icon" href="/images/picture/favicon.png")
		link(rel="bookmark" href="/images/picture/favicon.png")
		link(rel="icon" href="/images/picture/favicon.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/picture/favicon.png")
		meta(name="apple-mobile-web-app-title" content="小红线")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/xiaohong.css")
	body
		div(class="column-container")
			div(class="column-header")
				div(class="column-header-content")
					img(src="/images/picture/120.png" class="column-header-logo")
					img(src=`${avatarUrl}` class="column-header-avatar")
			div(class="success")
				div(class="success-a") 创建专栏成功!
				div(class="success-b") 开始写文章
script(src="/scripts/jquery.min.js")
script(src="/scripts/remind.js")