doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="Description" content="小红线，信贷业务员社区")
		meta(data-vue-meta="true" name="keywords" content="小红线，信贷业务员聚集地，信贷行业经验分享交流！")
		title 小红线-信贷业务员聚集地
		link(rel="shortcut icon" href="/images/picture/favicon.png")
		link(rel="bookmark" href="/images/picture/favicon.png")
		link(rel="icon" href="/images/picture/favicon.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="/images/picture/favicon.png")
		meta(name="apple-mobile-web-app-title" content="小红线")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/xiaohong.css")
	body
		div(class="column-container")
			div(class="column-header")
				div(class="column-header-content")
					img(src="/images/picture/120.png" class="column-header-logo")
					img(src=`${avatarUrl}` class="column-header-avatar")
			div(class="column-content")
				div(class="column-content-a")
					div(class="column-content-title") 申请创建专栏
					p 专栏旨在为全国各地区信贷企业提供产品展示服务，每开设一个专栏，就是为一个贷款产品开设一个论坛，这样可以让全国上百万的同行以及客户参与，从而建立业务合作，创建专栏需要进行申请，通过审核后才可使用。
					h5 为什么要创建专栏：
					p 创建专栏，专栏管理人既可以将贷款产品发布到小红线，让行业以及用户参与并合作。
					h5 专栏创作的目的：
					p 专栏是为了让全国同行以及用户能够时刻了解产品动态，从而建立更多的合作；
					h5 申请需满足以下要求：
					ul
						li 专栏须由企业申请；
						li 企业需要有自主运营的贷款产品；
						li 同一企业不能为相同贷款产品申请多个专栏；
					h5 申请专栏的内容写作方向：
					p 专栏旨在全方位介绍产品，包括产品的技术文档，实战经验分享等等；
					br
					br
					p 专栏绑定的贷款产品写作方向就是围绕这个产品做深入分析，请不要写贷款产品之外的话题。
					ul
						li 接受申请的方向：自主运营的贷款产品；
						li 不接受申请的方向： 接受申请方向以外的暂时都不受理。
					h5 申请专栏的相关背景：
					ul
						li 专栏申请人需有自主代理的贷款产品；
						li 专栏申请人需具备一定的写作能力，能对企业产品做出通俗易懂的文章创作；
					p 专栏申请将在1-3工作日内通过申请，通过即可以马上创作。
					hr
					h4(class="icon-img") 为贷款产品添加一个LOGO
						span(style="color:#ff5545;font-size:14px;") (建议：120px * 120px)
					img#icon-img(src='/images/icon-a.png')
					h4 要分享的贷款产品名称
					input(type="text" id="loanName" name="loanName" placeholder="例：建行快贷" maxlength="8")
					h4 贷款产品对应的公司
					input(type="text" id="company" name="company" placeholder="例：中国建设银行" maxlength="15")
					h4(id="zone") 贷款产品面向的城市
					div(class="column-zone")
						select(id="province" class="column-zone-a")
						select(id="city" class="column-zone-a")
					div(class="column-button")
						div(class="column-buttona") 注意：一个账号只能申请一次，请注意填写
						div(class="column-buttons") 申请
script(src="/scripts/city.js")
script(src="/scripts/jquery.min.js")
script(src="/scripts/qinius/demo/js/plupload/moxie.min.js")
script(src="/scripts/qinius/demo/js/plupload/plupload.min.js")
script(src="/scripts/qinius/src/qiniu.js")
script(src="/scripts/createColumn.js")