doctype html
html(lang="en")
	include files/head.pug
	body
		div(class="xiaohong-top")
			div(class="xiaohong-top-list")
				div(class="xiaohong-img")
					img(src="/images/picture/120.png" class="xiaohong-imgs")
				div(class="xiaohong-login")
					div(class="xiaohong-login-img")
						div(id="login_container")
		script(src="/scripts/jquery.min.js")
		script(src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js")
		script(src="/scripts/indexPage.js")