doctype html
html(lang="en")
	include files/head.pug
	body
		div.container
			div.header
				div.header-a
					a.header-a-a(href="/home")
						img(src="/images/xiaohongxian.png", alt="logo")
					div.header-a-c
						a.header-a-d(href="/see/message" class="iconfont5 icon-tixing" style="color:#8590a6")
						a.header-a-b(href="#")
							img(src=avatarUrl)
			div.content
				span 目前只能开通一个专栏，检查专栏是否审核通过，通过则先把已开通的专栏维护好吧，后期会增加开通数目。

		div(class="mask" style="display: none;")