doctype html
html(lang="en")
    head
        title 写经验
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        link(rel="shortcut icon" href="/images/picture/favicon.png")
        link(rel="bookmark" href="/images/picture/favicon.png")
        link(href="/styles/style.css" rel="stylesheet")
    body
        div(id="edit-top")
            div(id="editor-top")
                div(id="editor-header")
                    div(id="container-header")
                        img(id="wd-logo" src=`${avatarUrl}`)
                        div(id="wd-title")
                            strong #{loanName}
                            span(class="remind-kit" style="font-size: 14px;color:#ff5545;padding-left: 15px;")
                        div(style="display: flex;align-items: center;")
                            div(id="editor-button" style="margin-right: 20px;")
                                span(id=columnId) 发布
                div(id="progress-bar")
                div(id="editor-content")
                    div(id="editor-title")
                        span
                            textarea(id="editor-input" tabindex="1" maxlength="30" placeholder="请填写标题" rows="1")
                            textarea(class="pre" id="pre" placeholder="请填写导语(必填)" maxlength="70" autocomplete="off")
                    div(id="editor")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/wangEditor.min.js")
    script(src="/scripts/qinius/demo/js/plupload/moxie.min.js")
    script(src="/scripts/qinius/demo/js/plupload/plupload.min.js")
    script(src="/scripts/qinius/src/qiniu.js")
    script(src="/scripts/cleanAndPaste.js")
    script(src="/scripts/writeArticle.js")