doctype html
html(lang="en")
	include files/head.pug
	body
		div.container
			div.header
				div.header-a
					a.header-a-a(href="/")
						img(src="/images/xiaohongxian.png", alt="logo")
					a.herder-a-b(href='/wx-login')
						span 登陆
			div.content-home
				div.content-home-a
					div.content-home-a-1
						span.content-home-kouhao 小红线，信贷业务利器
						p.content-home-p  你要的加盟、代理合作、同行合作
						p.content-home-p  你要的网贷官方大纲，网贷技术，实操经验
						p.content-home-p  在小红线，统统免费拿走
						a.content-home-p(href="/wx-login" style="color:#fff;") 开通专栏
					div.content-home-a-2
						img(src="http://up.xiaohongxian.com/wfdsfsf232ds3fdsaf4tbnfd43.png")
				div.content-home-b-1
					div.content-home-b-2
						div.content-home-b-3
							div.content-home-b-4
				div.content-home-b-a
					div.content-home-b-a-1
						div.content-home-list
							img(src="http://up.xiaohongxian.com/rjmsOmsQUvFqrTBaLawk.svg")
							h3 你可以分享贷款产品
							p 让全国的同行和客户找到你
							a.content-home-p(href="/wx-login" style="color:#fff;") 我要分享
						div.content-home-list
							img(src="http://up.xiaohongxian.com/zTDQhJccaMTPDulsvmxN.svg")
							h3 寻找贷款产品加盟合作
							p 各地区贷款加盟信息应有尽有
							a.content-home-p(href="/wx-login" style="color:#fff;") 我要加盟
						div.content-home-list
							img(src="http://up.xiaohongxian.com/tEhNpxdMlcUwlqAlWqVc.svg")
							h3 免费网贷技术
							p 各产品的官方绝密文档以及实操经验
							a.content-home-p(href="/wx-login" style="color:#fff;") 我要学技术
				div.content-home-c
					div.content-home-c-1
						div.content-home-c-c
							h1 人人都能开通专栏
							p 免费为产品申请一个专栏
							p 分享产品的文档，经验，动态
							p 让全国的同行和客户看到你
							a.content-home-p(href="/wx-login" style="color:#fff;") 申请专栏
						img(src="http://up.xiaohongxian.com/EJLpAWuHkwEgnHjtSEgI.png")
				div.content-home-d
					div.content-home-d-1
						h1 信贷公司业务增长利器
						p 你要的新产品、你要的同行合作、你要的终端客户、你要的网贷技术，在小红线，统统免费拿走！
				div.content-home-e
					div.content-home-e-1 
						span © 2018 小红线  湘ICP备17023660号-1