div(class="popout")
	div(style="position: relative;border:1px solid #fff;")
		div(class="action-left")
		i(class="iconfont icon-close btn-close")
	span(style="padding:10px;margin:20px 0 20px 40px;") 在微信小程序上体验
	img(src="/images/mini.jpg", alt="mini" style="width:200px;height:auto;margin:20px 0 20px 40px;")
	
script(src="/scripts/forWhoWrite.js")