div(class="popout")
	div(style="position: relative;border:1px solid #fff;")
		div(class="action-left")
		i(class="iconfont icon-close btn-close")
	span(style="padding:10px;") 还没有创建专栏
	a.popout-a(href='/column' style="color:#0084ff" target="_blank") 去创建
script(src="/scripts/forWhoWrite.js")