div(class="popout")
	div(style="position: relative;border:1px solid #fff;")
		div(class="action-left")
		i(class="iconfont icon-close btn-close")
	span(style="padding:10px;") 需删除专栏下的文章才能继续
script(src="/scripts/forWhoWrite.js")