div(class="popout")
	div(style="position: relative;border:1px solid #fff;")
		div(class="action-left")
		i(class="iconfont icon-close btn-close")
	span(style="padding:10px;") 专栏删除成功
script(src="/scripts/removeColumnSuccess.js")