*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
.xiaohong-top{
	display: flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	margin:0px;
	padding:0px;
}


.xiaohong-top-list{
	width:100%;
	height: 100%;
	background-image: linear-gradient(45deg,#ff0030 0%,#2577e3 100%);
	display: flex;
	flex-direction: column;
}

.xiaohong-img{
	width:100%;
	height: 100px;
	display: flex;
	align-items: center;
	padding-left: 50px;
}
.xiaohong-imgs{
	width:50px;
	height:auto;
	border-radius: 50%;
	display:block;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.30), 0 23px 38px 0 rgba(0,0,0,0.13), 0 25px 65px 0 rgba(0,0,0,0.10);
}
.xiaohong-login{
	width:100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.xiaohong-login-img{
	width:350px;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.30), 0 23px 38px 0 rgba(0,0,0,0.43), 0 25px 65px 0 rgba(0,0,0,0.10);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.xiaohong-login-imgs{
	width:250px;
	height: auto;

}
.xiaohong-login-reminds{
	width:100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:25px;
	font-weight: 900;
	color:#3c9307;


}
.xiaohong-login-remind{
	width:100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight: bold;
	color:#777;
}

@media only screen and (max-width:800px){
	.xiaohong-login-img{
		width:300px;
		height: 450px;
	}
}


/*------------------------------------------------------*/
.column-container{
	width:100vw;
	min-height:100vh;
	background-color: #f6f6f6;
}

.column-containers{
	width:100vw;
	height:75vh;
	background-color: #f6f6f6;
}
.column-header{
	width:100%;
	height: 52px;
	background-color: #fff;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.30), 0 0 0 0 rgba(0,0,0,0.43), 0 1px 5px 0 rgba(0,0,0,0.10);
	display: flex;
	justify-content: center;

}
.column-content{
	display: flex;
	justify-content: center;
	width:100%;
	height: auto;
	padding:15px 0 50px 0;

}
.column-content-a{
	width:694px;
	height: auto;
	background-color: #fff;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.13), 0 1px 0 0 rgba(0,0,0,0.10);
	padding:40px 30px 30px 30px;
}
.column-header-content{
	width:65%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.column-header-logo,.column-header-avatar{
	width:40px;
	height: 40px;
	border-radius: 50%;
}


.column-content-title{
	font-size: 26px;
	font-weight: 900;
	font-color:#000;
	padding-bottom: 20px;
}

p{
	line-height: 25px;
    color: #646464;
    font-size: 14px;
}

h5{
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 14px;
    color: #646464;
    line-height: 25px;
}

ul li{
    margin-left: 2em;
    list-style-type: disc;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    color: #646464;
    line-height: 25px;
}

h4{
    margin-top: 32px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
    line-height: 25px;
}

hr{
	border:none;
	height:1px;
	background-color: #eee;
	margin-top: 40px;
}
input{
	width:100%;
	height: 40px;
	border-radius: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 5px;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    border:1px solid #ccc;
}

textarea{
	width:100%;
	height: 100px;
	border-radius: 5px;
	border:1px solid #ccc;
	margin-bottom: 40px;
	padding:5px;
	resize: none;
	line-height: 20px;
}

.column-button{
	width:100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.column-buttona{
	color:#666;
	font-size: 14px;
}

.column-buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	width:120px;
	height: 35px;
	background-color: #ff5545;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.column-zone{
	display: flex;
	flex-direction: row;


}

.column-zone-a{
	width:200px;
	height: 35px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	margin-right:10px;
}


.column-contents{
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:70vh;
	

}

.success{
	width:100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.success-a{
	font-size:70px;
	padding:10px;
	color:#51c332;
	font-weight: bold;
}

.success-b{
	margin:20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width:160px;
	height: 40px;
	font-size:20px;
	padding:10px;
	border:1px solid #555;
	cursor: pointer;
	color:#555;
	border-radius: 5px;
}

.success-b:hover{
	border:1px solid #000;
	color:#000;
}


.choose{
	width:100%;
	height: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.choose-a{
	margin:20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width:160px;
	height: 40px;
	font-size:20px;
	padding:10px;
	border:1px solid #555;
	cursor: pointer;
	color:#555;
	border-radius: 5px;
}

.choose-b{
	margin:20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width:160px;
	height: 40px;
	font-size:20px;
	padding:10px;
	border:1px solid #555;
	cursor: pointer;
	color:#555;
	border-radius: 5px;
}

.choose-a:hover,.choose-b:hover{
	border:1px solid #000;
	color:#000;
}

.footer{
	width:100vw;
	height: 200px;
	background: #ff5545;
}

#icon-img{
	width:120px;
	height: 120px;
	cursor: pointer;
	transition: opacity .2s;
}

#icon-img:hover{
	opacity:0.4;
	filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}



