head
	meta(charset="UTF-8")
	meta(name="Description" content="小红线，无穷尽的设计可能")
	meta(data-vue-meta="true" name="keywords" content="小红线，无穷尽的设计可能")
	title 小红线-无穷尽设计可能
	link(rel="shortcut icon" href="/art_img/favicon.png")
	link(rel="bookmark" href="/art_img/favicon.png")
	link(rel="icon" href="/art_img/favicon.png" type="image/png")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	//apple-webapp-config
	link(rel="apple-touch-icon" href="/art_img/apple-webapp.png")
	meta(name="apple-mobile-web-app-title" content="小红线")
	meta(name="mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="white")
	link(href="/art_css/app.css" rel="stylesheet")
	script(src="/art_js/jquery.min.js")
	script(src="/art_js/frontend/logic.js")