div(class="header" data-v-d5bffaf0)
	div(class="row" data-v-d5bffaf0)
		div(class="header-title" data-v-d5bffaf0)
			div(class="header-title-icon" data-v-d5bffaf0)
				i(class=`iconfont ${classa}` data-v-d5bffaf0)
			h1(class="header-title-text zh" data-v-d5bffaf0) шо╛шоб