div(id="block-design" class="block block-list" data-v-339e84a5 data-v-241f359c)
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-1')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-zuixin' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 必看
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='https://dribbble.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_01.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Dribbble
									div(class="card-des" data-v-31f669e0) 全球优秀设计师最佳交流展示平台
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='https://www.behance.net/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_02.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Behance
									div(class="card-des" data-v-31f669e0) Adobe旗下设计师交流平台
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='http://huaban.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_03.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) 花瓣
									div(class="card-des" data-v-31f669e0) 优美图集 点亮灵感
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='https://www.designup.cn/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_04.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Designup
									div(class="card-des" data-v-31f669e0) 为设计师打开新世界的大门
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='https://unsplash.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_05.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Unsplash
									div(class="card-des" data-v-31f669e0) 美好大尺寸原图任意下载
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='http://collectui.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_06.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Collect UI
									div(class="card-des" data-v-31f669e0) 每日搜集UI 设计灵感
					div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='https://www.iconfinder.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/a_07.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) Iconfinder
									div(class="card-des" data-v-31f669e0) 百万优质图标搜索下载
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-2')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-remen' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 灵感
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://lapa.ninja/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Lapa
								div(class="card-des" data-v-31f669e0) 国外优质产品官网、落地页设计欣赏
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://abduzeedo.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Abduzeedo
								div(class="card-des" data-v-31f669e0) 每日分享高品质设计创意灵感
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://thefwa.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_03.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) The FWA
								div(class="card-des" data-v-31f669e0) 每日分享高品质设计创意灵感
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://bestwebsite.gallery/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_04.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) BWG
								div(class="card-des" data-v-31f669e0) 艺术美～最前沿网络媒体艺术设计赏
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://365awesomedesigners.com' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_05.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) 365AwesomeDesigners
								div(class="card-des" data-v-31f669e0) 设计感超棒～优美设计网站搜罗
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.trendlist.org' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_06.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Trend List
								div(class="card-des" data-v-31f669e0) 搜寻全球优秀设计师 每天推荐一位
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.aisleone.net' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_07.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) AisleOne
								div(class="card-des" data-v-31f669e0) 探索和整理现代平面设计趋势
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://pick.mydesy.com' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/b_08.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) MyDesy
								div(class="card-des" data-v-31f669e0) 一位大牛设计师眼中的平面设计之美
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-3')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-miao' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 资讯
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.debbiemillman.com/designmatters' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Design Matters
								div(class="card-des" data-v-31f669e0) 全球最早的设计访谈节目
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://www.designtoday.io/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Design Today
								div(class="card-des" data-v-31f669e0) 新鲜有用的设计资讯文章集
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://anyway.fm/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_03.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Anyway.FM
								div(class="card-des" data-v-31f669e0) 全球最早的设计访谈节目
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://heydesigner.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_04.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Hey Designer
								div(class="card-des" data-v-31f669e0) 设计师与前端一起来充电
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://tutsplus.com/tutorials' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_05.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Envato Tuts+
								div(class="card-des" data-v-31f669e0) 23,300+ 教你“怎么做…”的设计干货
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.lizhi.fm/1852153/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_06.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) 字谈字畅
								div(class="card-des" data-v-31f669e0) 字体排印主题 中文博客节目
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://www.sketchcasts.net/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_07.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Sketch Casts
								div(class="card-des" data-v-31f669e0) 用买咖啡的钱在线学Sketch
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.webdesignerdepot.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/c_08.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Webdesigner Depot
								div(class="card-des" data-v-31f669e0) 全球最早的设计访谈节目
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-4')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-xinyongqia' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) UI-UX
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://uigarage.net/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) UI Garage
								div(class="card-des" data-v-31f669e0) 高级美～UI设计灵感炸裂之地
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://hoverstat.es/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Hover States
								div(class="card-des" data-v-31f669e0) Web交互动画设计欣赏
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://capptivate.co/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_03.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Capptivate
								div(class="card-des" data-v-31f669e0) 国外优秀iOS UI动效作品
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://navnav.co/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_04.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) NavNav
								div(class="card-des" data-v-31f669e0) 推荐～优秀导航菜单设计，CSS演示
				div(class="card" data-v-31f669e0 data-v-241f359c)
						a(href='http://www.weiued.com/' target="_blank" class="card-default" data-v-31f669e0)
							div(data-v-31f669e0 style="display:flex;flex-direction:row;")
								div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_05.png')")
								div(class="card-main" data-v-31f669e0)
									div(class="card-name" data-v-31f669e0) 微交互
									div(class="card-des" data-v-31f669e0) 交互设计学习交流平台
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.lovelyui.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_06.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Lovely Ui
								div(class="card-des" data-v-31f669e0) 移动UI设计元素搜集
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://inspirationui.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_07.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) InspirationUI
								div(class="card-des" data-v-31f669e0) 从真实项目中发掘灵感
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.elasticode.com/allapps.php' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/d_08.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Elasticode
								div(class="card-des" data-v-31f669e0) 优质精美App交互动效收集
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-5')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-house' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 图标
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.iconsfeed.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/e_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Iconsfeed
								div(class="card-des" data-v-31f669e0) 全球iOS图标分类展示
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://iosicongallery.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/e_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) iOS Icon Gallery
								div(class="card-des" data-v-31f669e0) 简而优的iOS 图标画廊
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://preloaders.net/en/popular' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/e_03.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Preloaders
								div(class="card-des" data-v-31f669e0) Loading图标大集合
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.iospirations.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/e_04.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) IOSpiration
								div(class="card-des" data-v-31f669e0) iOS App Icon 设计灵感
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-6')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-zhimafen' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 图库
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://color.adobe.com/zh/create/color-wheel/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/f_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) 包图网
								div(class="card-des" data-v-31f669e0) 日更1000+ 原创可商用图片 免费下载
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://magdeleine.co/browse/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/f_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Magdeleine
								div(class="card-des" data-v-31f669e0) 免费高质量全景图片库
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-7')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-baodan' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 配色
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://color.adobe.com/zh/create/color-wheel/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/g_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Adobe Color
								div(class="card-des" data-v-31f669e0) Adobe官方在线配色工具
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://paletton.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/g_02.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Pletton
								div(class="card-des" data-v-31f669e0) 在线主题配色设计工具
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://www.colorzilla.com/gradient-editor/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/g_03.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) ColorZilla
								div(class="card-des" data-v-31f669e0) CSS渐变效果在线生成器
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-8')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-shebao' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 字体
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://www.urbanfonts.com/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/h_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Urban Fonts
								div(class="card-des" data-v-31f669e0) 免费英文字体搜索下载
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-9')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-banli' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 素材
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='http://sketch.im/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/i_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) Sketch.im
								div(class="card-des" data-v-31f669e0) Sketch资源、视频、素材
	div(class="section" data-v-339e84a5 data-v-241f359c id='section-10')
		div(class="title" data-v-339e84a5 data-v-241f359c)
			div(class="title-icon" data-v-339e84a5 data-v-241f359c)
				i(class='iconfont-list icon-qita' data-v-339e84a5 data-v-241f359c)
			h2(class="title-text" data-v-339e84a5 data-v-241f359c) 规范
		div(class="list" data-v-339e84a5 data-v-241f359c)
			div(class="card-wrapper" data-v-339e84a5 data-v-241f359c)
				div(class="card" data-v-31f669e0 data-v-241f359c)
					a(href='https://material.io/devices/' target="_blank" class="card-default" data-v-31f669e0)
						div(data-v-31f669e0 style="display:flex;flex-direction:row;")
							div(class="bg-img round card-icon" style="margin-right:10px;width: 32px; height: 32px;background-image:url('/art_img/cardpic/j_01.png')")
							div(class="card-main" data-v-31f669e0)
								div(class="card-name" data-v-31f669e0) 安卓设备尺寸
								div(class="card-des" data-v-31f669e0) 安卓主流设备尺寸一查即知