div(data-v-71562512 class="item-subs")
	div(data-v-71562512 class="item-subs-wrapper")
		div(data-v-71562512 id="positioner")
			div(data-v-71562512 id="nonius")
		div(class="sub-item active" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 必看
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 灵感

		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 资讯	
				
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) UI-UX
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 图标
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 图库
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 配色
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 字体
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 素材
		
		div(class="sub-item" data-v-71562512)
			div(class="sub-item-text" data-v-71562512) 规范