div(class="side" data-v-71562512)
	a(class="logo-link" data-v-71562512 href="/")
		//- i(data-v-71562512 class="iconfontlogo icon-logo")
		img(src="/art_img/xiaohongxian.png")
	div(class="logo" data-v-71562512)
		//- i(data-v-71562512 class="iconfontlogo icon-logo")
		img(src="/art_img/xiaohongxian.png")
	div(data-v-71562512 class="menu")
		div(data-v-71562512 id="menu-item-jiekuan" class="item active")
			a(data-v-71562512 href="/" class="item-text router-link-exact-active router-link-active zh data-v-xxxxyyyyzzzz")
				span(data-v-71562512 class="item-icon")
					i(data-v-71562512 class="iconfont icon-jiekuan")
				span(data-v-71562512) шо╛шоб
			include item-subs.pug
	div(data-v-71562512 class="email")
		div(data-v-71562512 class="email-text") support@xiaohongxian.com
	div(class="btn-side-close" data-v-71562512)
		i(class="iconfont icon-close" data-v-71562512)